@import url('https://fonts.googleapis.com/css?family=Nova+Round|Reenie+Beanie|Righteous|Saira+Semi+Condensed');

.pag-register, .pag-inite {
    display: none;
}

body {
    background: url(fondo.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
	   -moz-background-size: cover;
	   -o-background-size: cover;
	   background-size: cover;
}



.logo {
    float: left;
    margin: 1px;
   font-family: 'Righteous',cursive;
 font-size: 27px;
 color: #333333;
 }
 
 
 .header-right {
    float: right;
    }
 

 
 
 
 .ways-of-inite {
     text-align: center;
 }

 .btn-register-in-inite {
     display: none;
 }

 .menu-muro {
     display: none;
 }


 
 .register-text {
 font-family: Saira SemiCondensed;
 font-size: 12px;
 text-decoration: none;
 color: #FFF9F9;
 }
 

 
 



 .grid-container {
    display: grid;
    grid-gap: 50px 100px;
    grid-template-columns: auto auto;
    background-color: rgba(63, 90, 179, 0.5);
    padding: 10px;
  }
  
  .grid-item {
    background-color: rgba(64, 228, 86, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 10px;
    text-align: center;
  }